# Decision Tree

## Project Description
In this project, you will see how decision trees work by implementing a decision tree in sklearn.

We'll start by loading the dataset and displaying some of its rows.

In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Pretty display for notebooks
%matplotlib inline

# Set a random seed
import random
random.seed(42)

# Load the dataset
in_file = 'TitanicSurvival.csv'
full_data = pd.read_csv(in_file)

# Print the first few entries of the RMS Titanic data
display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## (TODO) Describe the features

Recall that these are the various features present for each passenger on the ship:
- **Survived**: Outcome of survival (0 = No; 1 = Yes)
- **Pclass**: 
- **Name**: 
- **Sex**: 
- **Age**: 
- **SibSp**: 
- **Parch**: 
- **Ticket**: 
- **Fare**: 
- **Cabin** 
- **Embarked**: 

Since we're interested in the outcome of survival for each passenger or crew member, we can remove the **Survived** feature from this dataset and store it as its own separate variable `outcomes`. We will use these outcomes as our prediction targets.  
Run the code cell below to remove **Survived** as a feature of the dataset and store it in `outcomes`.

In [ ]:
# Store the 'Survived' feature in a new variable
outcomes = full_data['Survived']
#  Remove it from the dataset
features_raw = 

# Show the new dataset with 'Survived' removed
display(features_raw.head())

The very same sample of the RMS Titanic data now shows the **Survived** feature removed from the DataFrame. Note that `data` (the passenger data) and `outcomes` (the outcomes of survival) are now *paired*. That means for any passenger `data.loc[i]`, they have the survival outcome `outcomes[i]`.

## (TODO) Preprocessing the data

Now, let's do some data preprocessing. First, we'll one-hot encode the features.

In [ ]:
features =

And now we'll fill in any blanks with zeroes.

In [ ]:
features = 
display(features.head())

## (TODO) Training the model

Now we're ready to train a model in sklearn. First, let's split the data into training and testing sets (80%-20%). Then we'll train the model on the training set.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =

In [ ]:
# Import the classifier from sklearn
from sklearn.tree import DecisionTreeClassifier

# TODO: Define the classifier, and fit it to the data
model =

## (TODO) Testing the model
Now, let's see how our model does, let's calculate the accuracy over both the training and the testing set.

In [ ]:
# Making predictions
y_train_pred = 
y_test_pred = 

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = 
test_accuracy = 
print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

## (TODO)  Improving the model

Ok, high training accuracy and a lower testing accuracy. We may be overfitting a bit.

So now it's your turn to shine! Train a new model, and try to specify some parameters in order to improve the testing accuracy, such as:
- `max_depth`
- `min_samples_leaf`
- `min_samples_split`

You can use your intuition, trial and error, or even better, feel free to use Grid Search!

**Challenge:** Try to get to 85% accuracy on the testing set. If you'd like a hint, take a look at the solutions notebook next.

In [ ]:
# TODO: Train the model

# TODO: Make predictions

# TODO: Calculate the accuracy

### Question
- Describe one real-world application in industry where the model can be applied. 
- What are the strengths of the model; when does it perform well?
- What are the weaknesses of the model; when does it perform poorly?
- What makes this model a good candidate for the problem, given what you know about the data?

Please include references with your answer.

## (TODO)  Describe your conclusions